body {
    background-color: gray;
}

h1 {
    text-align: center;
    color: white;
    background-color: darkslateblue;
    padding: 10px;
    border-bottom: 1px solid black;
    width: 100%;
    margin: 0 auto;
}

.city-search {
    border-right: 1px solid black;
    height: 100%;
    margin: 0 auto;
}

.current {
    border: 1px solid black;
}

.forecast {
    border-top: 1px solid black;
}

.container{
    background-color: white;
    height: auto;
    border: 1px solid black;
}

footer {
    background-color: darkslategray;
    color: white;
    border-top: 2px solid lightgrey;
    text-align: center;
    padding: 10px;
}

.card {
    border: none;
}